# VisualStudio / .NET
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.suo
*.user
*.userosscache
*.sln.docstates
*.csproj.user
.vs/
project.lock.json
*.nupkg
*.snupkg
packages/
*.pidb
*.userprefs
mono_crash.*
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
[Dd]ebugPublic/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Ll]og/
[Ll]ogs/
Generated\ Files/
[Tt]ools/
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
_TeamCity*
*.dotCover
.axoCover/
*.gpState
$tf/
*.rdl.data
*.bim.layout
*.bim_*.settings
*.rptproj.rsuser
*- [Bb]ackup.rdl
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl
FakesAssemblies/
*.GhostDoc.xml
_Chutzpah*
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb
*.psess
*.vsp
*.vspx
*.sap
*.e2e
*.cap
*.coverage
*.coveragexml
healthchecksdb
MigrationBackup/
.cr/
*.mdf
*.ldf
*.ndf
*.jfm
appsettings.Development.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
*.mo
*.pot
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
.scrapy
docs/_build/
.pybuilder/
target/
.ipynb_checkpoints
profile_default/
ipython_config.py
.pdm.toml
.pdm-python
__pypackages__/
celerybeat-schedule
celerybeat.pid
*.sage.py
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
.spyderproject
.spyproject
.ropeproject
/site
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/

# Node
node_modules/
.npm
*.tgz
.eslintcache
.stylelintcache
*.pid
*.seed
*.pid.lock
lib-cov/
.grunt
bower_components/
.lock-wip
typings/
.yarn-integrity
.env.development.local
.env.test.local
.env.production.local
.env.local
.next
.nuxt
.cache
.parcel-cache
.serverless/
.fusebox/
.dynamodb/
.tern-port
.vscode-test
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# OS
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
*.swp
*.swo
*~

# IDE
.idea/
*.iml
